@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fffffe;
}

a:hover {
  text-decoration: none;
  color: #fffffe;
}


#myVideo {
  display: none;
}

.cover-photo {
  display: block;
}

.content {
  z-index: 1;
  color: #d9ff01c2;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 5%;
  width: 100vw;
  background-color: rgba(61, 0, 97, 0.596);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 20vw;
  overflow-y: hidden;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 9vw;
  overflow-y: hidden;
}

h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8vw;
  overflow-y: hidden;
}

h6 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5vw;
  overflow-y: hidden;
}

button,button::after {
  padding: 5px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: rgba(59, 54, 29, 0.699);
  background-color: rgba(163, 152, 0, 0.712);
  position: relative;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'TAKE ME THERE';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #e0d625, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(251, 255, 0);
}

button:hover {
  text-shadow: -1px -1px 0px #e0d625, 1px 1px 0px #E94BE8;
}

button:hover {
  background-color: transparent;
  border: 1px solid rgb(229, 255, 0);
  box-shadow: 0px 10px 10px -10px rgb(217, 255, 0);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}


@media screen and (min-width:781px){
  .style1 {
    position: fixed;
    z-index: 2;
    display: block;
}

  
  .loader {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    transition: opacity 0.75s, visibility 0.75s;
  }

  .loader-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #6c00da;
    border-top-color: #e0d625;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }

  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
    
  }
  
  #myVideo {
    z-index: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
  }

  .cover-photo {
    display: none;
  }

.content {
    z-index: 2;
    color: #d9ff01c2;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    
  }


  h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 10vw;
  }

  h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5vw;
  }

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vw;
}

h6 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5vw;
}


button,button::after {
  padding: 5px 20px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  color: rgba(252, 206, 2, 0.527);
  background-color: rgba(255, 238, 0, 0.315);
  position: relative;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'TAKE ME THERE';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #e0d625, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(251, 255, 0);
}

button:hover {
  text-shadow: -1px -1px 0px #e0d625, 1px 1px 0px #E94BE8;
}

button:hover {
  background-color: transparent;
  border: 1px solid rgb(229, 255, 0);
  box-shadow: 0px 10px 10px -10px rgb(217, 255, 0);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
}