@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* Color codes 
#6c00da
#e0d625
*/
* {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}


a:hover {
    color: white;
}


body {
    overflow-x: hidden;
}

.style {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}


.navbar-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1vh;
}

.home {
    background-color: #6c00da;
    border-radius: 15px;
}

.nav-item {
    color: #e0d625;
}

.nav-item:hover {
    background-color: #6c00da;
    border-radius: 15px;
}


/*------Search START------*/
form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    margin-top: 5vh;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid{
    width: 200px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}
/* -------Search END --------- */


a {

}

form:valid a {
  display: block;
}

 /* body {
       overflow-x: hidden;
} */
 

.container1 {
    position: relative;
    text-align: left;
    color: rgba(255, 242, 64, 0.829);
}

.cover-photo {
    opacity: 50%;
}


.f2p-text {
    z-index: 3;
    position: absolute;
    top: 30vh;
    left: 1vh;
    font-family: 'Orbitron', sans-serif;
    font-size: 10vh;
    text-align: center;

}

h2 {
    z-index: 3;
    position: absolute;
    top: 55vh;
    left: 5vh;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vh;
    text-align: center;
}

.popular-text {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 8vh;
    padding: 2vh;
    color: #e0d625;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.game-content {
    margin: 10px;
}

.card-img {
    width: 22rem;
    height: 13rem;
}

.genre-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    overflow: hidden;
}

.card .card-img {
    transition: transform .5s;
}

.card:hover .card-img {
    transform: scale(1.2);
}




.view-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ----View More Button START ----- */

.view-more {
    position: relative;
    padding: .4em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #e7ff10c5;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 1vh;
    width: 12rem;
   }
   
  .view-more:hover {
    box-shadow: 0 0 10px #6c00da, 0 0 25px #001eff, 0 0 50px #6c00da;
    transition-delay: 0.6s;
   }
   
  .view-more span {
    position: absolute;
   }
   
 .view-more span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #6c00da);
   }
   
   .view-more:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
.view-more span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
.view-more:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #6c00da);
   }
   
.view-more:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
.view-more span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
.view-more:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
.view-more:active {
    background: #6c00da;
    background: linear-gradient(to top right, #6c00da, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #6c00da, 0 0 8px #001eff, 0 0 8px #6c00da;
    transition: 0.1s;
   }
   
.view-more:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
/* -----View More Button END------- */


.genre-text {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 8vh;
    padding: 2vh;
    color: #e0d625;
}



/* ----GENRE BUTTON --- */
.genre {
    position: relative;
    padding: .4em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #46277c;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 1vh;
    width: 12rem;
   }
   
  .genre:hover {
    box-shadow: 0 0 10px #6c00da, 0 0 25px #001eff, 0 0 50px #6c00da;
    transition-delay: 0.6s;
   }
   
  .genre span {
    position: absolute;
   }
   
 .genre span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #6c00da);
   }
   
   .genre:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
.genre span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
.genre:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #6c00da);
   }
   
.genre:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
.genre span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
.genre:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
.genre:active {
    background: #6c00da;
    background: linear-gradient(to top right, #6c00da, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #6c00da, 0 0 8px #001eff, 0 0 8px #6c00da;
    transition: 0.1s;
   }
   
.genre:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   
/* ----Genre Button END---- */

.discover-text {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 8vh;
    padding: 2vh;
    color: #e0d625;
}
 
/*  for desktop

.footer {
    display: flex;
    justify-content: center;
} */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;

}
 .footer-text {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5vw ;
    padding: 20px;
 }

 .back-top {
    background-color: #2e005c;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
 }

 @media screen and (min-width:781px){
    /* -----------NAVBAR-------- */
    .navbar {
        display: flex;
        justify-content: center;
        height: 11vh;
        flex-direction: row;
        position: sticky;
        top: 0;
        z-index: 5;

    }

    .navbar {
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInDown {
        0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        }
        @keyframes slideInDown {
        0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        } 
    
    .navbar-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }

    form {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-40%,-40%);
    }

    .nav-item {
        font-family: 'Orbitron', sans-serif;
        font-size: 2.5vh;
    }

    /* --------NAVBAR END------- */

    .style {
        position: fixed;
        z-index: 0;
        width: 100vw;
        height: 100vh;
        display: block;
    }


    .carousel {
        margin: 1.5vw;
        margin-top: 5vh;
        margin-left: 7vw;
        border-radius: 50px;
    }

    .carousel {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 2.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInRight {
        0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInRight {
        0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        } 
    

    .carousel-inner {
        border-radius: 50px;
    }


    .popular-text {
        font-family: 'Orbitron', sans-serif;
        font-size: 9vh;
        position: absolute;
        z-index: 3;
        top: 160px;
        color: rgb(36, 35, 46);
        background-color: #e0d625;
        padding-left: 3vw;
    }

    .popular-text:hover {
       background-color: #fff200b6;
       color: rgb(92, 0, 128);
    }

    .popular-text {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        } 
    
    h5 {
        color: rgba(234, 255, 48, 0.774);
        text-align: left;
        font-family: 'Orbitron', sans-serif;
        font-size: 5rem;
    }


    .f2p-text {
        font-family: 'Press Start 2P', cursive;
        font-size: 10vh;
        top: 8vh;
        left: 40vh;
        right: 40vh;
        color: rgba(255, 255, 255, 0.966);
        text-align: center;
    }

    h2 {
        display: none;
    }

    .container1 {
        display: none;
    }

    .discover-text {
        font-size: 15vh;
        position: absolute;
        z-index: 3;
    }

    .discover-text:hover {
        color: #6c00da;
    }
    
    #game-container {
        margin-top: 20vh;
    }

    .genre-text {
        font-size: 12vh;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-text {
        font-size: 1.2vw;
    }

    ::-webkit-scrollbar{
        width: 14px;
      }
      
      ::-webkit-scrollbar-track{
        border-radius: 5px;
        box-shadow: inset .7px .7px 1px #4b4b4b;
      }
      
      ::-webkit-scrollbar-thumb{
        border-radius: 5px;
      background: #fbff00;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #e0d625, #e0d625);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #e0d625, #e0d625); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      }

}
 @media screen and (min-width:519px) {
    .container1 {
        display: none;
    }

 }