.carousel {
    margin-top: 20vh;
}


.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.game-content {
    margin: 10px;
}

.card-img {
    width: 29rem;
    height: 16rem;
}
 